################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learn-python.sln
/learn-python.pyperf
/learn-python.pyproj
/learn-python/v15/.suo
*.suo
