################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learn-python.sln
/learn-python.pyperf
/learn-python.pyproj
/learn-python/v15/.suo
.vs/*.*
*.suo
*.sqlite
feedLove/keys/feedlove01-65c771c48b27.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
/feedLove/__pycache__
/feedLove/.vscode
/feedLove/watch
/feedLove/content